<!DOCTYPE html>
<head>
    <title>Vue.practice</title>
    <link rel="stylesheet" href="style.css" />
</head>

<body>

    <div id="app">
        <form v-on:submit.prevent>
            <input type="text" v-model="newItem">
            <button v-on:click="addItem">
            Add
            </button>

            <!-- v-on:clickで変数変化させることもできる　-->
            <button v-on:click="counter ++">
                Plus
            </button>
        </form>
        <li v-for="(todo, index) in desc_todos">
            <input type="checkbox" v-model="todo.isDone">
            <span v-bind:class="{done: todo.isDone}">{{ todo.item }}</span>
            <button v-on:click="deleteItem(index)">
            Delete
            </button>
        </li>

        <span>{{ $data.counter }}</span>
    </div>


    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="script.js"></script>

</body>
</html>

  
  